
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  background: #b9b3a9;
  display: flex;
  justify-content: center;
}

.container-log {
    width: 80%;
    margin: auto;
   
}
.head-content{
    display: flex;
    justify-content: space-between;

}

header{
    height: 80px;
    background-color: #12191f;
    width: 100%;
    padding: 25px 0;
}
.brand{

    font-size: 30PX;
    text-decoration: none;
    color: #fff;
}


nav ul {
    display: flex;
    list-style: none;


}
nav ul li a {
    display: block;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    min-width: 50px;
    margin: 0 10px;
    padding: 5px; 
}
























.container {
 position: relative;
  width: 60%;
  padding: 20px;
  margin-top: 80px;
  background:  url(../img/bk.png)  ;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
#timer{
    color: #fff;
    position: absolute;
    right: 30px;
    font-size: 20px;
    font-weight:700;
width: 45px;
}

h1 {
    color: #fff;
  text-align: center;
  margin-top: 60px;
}

.question {
    color: #fff;

  font-weight: bold;

font-size: 17px;
  margin-bottom: 30px;
  
}

.options {
    color: #fff;
  font-size: 19px;

}

.option {
  display: block;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #266eae;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.button:hover {
  background-color: #074881;
}

.result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  color: #fff;
}

.hide{
  display: none;
}